ReportDefinitions:
- reportName: sewasetu-workflow-history
  summary: Sewa Setu Workflow History
  version: 1.0.0
  moduleName: rainmaker-obps
  sourceColumns:
    - name: application_no
      label: Application No
      type: string
    - name: action_time
      label: Action Time
      type: string
    - name: action
      label: Action
      type: string
    - name: wf_state
      label: Workflow State
      type: string
    - name: official_name
      label: Official Name
      type: string
    - name: designation
      label: Designation
      type: string
    - name: office_location
      label: Office Location
      type: string
    - name: created_time
      label: Created Time
      type: number
    - name: last_modified_time
      label: Last Modified Time
      type: number
    - name: comment
      label: Comment
      type: string
  searchParams:
    - name: application_no
      label: Application No
      type: string
      source: application_no
      isMandatory: true
      searchClause: AND pi.businessid = $application_no
  query: |
    SELECT
      pi.businessid,
      to_char(to_timestamp(pi.createdtime / 1000), 'DD-MM-YYYY HH24:MI:SS') AS action_time,
      pi.action,
      st.state AS wf_state,
      COALESCE(usr.name, '') AS official_name,
      COALESCE(
        (SELECT string_agg(r.name, ', ')
         FROM eg_userrole_v1 eur
         JOIN eg_role r ON eur.role_code = r.code
         WHERE eur.user_id = usr.id), ''
      ) AS designation,
      pi.tenantid AS office_location,
      pi.createdtime AS created_time,
      pi.lastmodifiedtime AS last_modified_time,
      COALESCE(pi.comment, '') AS comment
    FROM  eg_wf_processinstance_v2 pi
    LEFT JOIN eg_wf_state_v2 st
      ON pi.status = st.uuid
    LEFT JOIN eg_user usr
      ON pi.createdby = usr.uuid
    WHERE 1=1
  orderby: ORDER BY pi.createdtime DESC
